*,
::before,
::after {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-description {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-direction: column;
}

.main-description h1 {
  font-family: Helvetica, sans-serif;
}

hr {
  border: none;
  width: 95%;
  border-bottom: solid 2px #8080804d;
}

.li-po:hover {
  background-color: rgba(128, 0, 128, 0.635);

  background: -webkit-linear-gradient(
    to right,
    #4255fd,
    #fe5a8e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3848d8, #da3d6f);
  color: white;
}
.li-po:nth-child(2) {
  border-radius: 0px 0px 10px 10px;
}

/* MEDIA QUERIES  */

@media only screen and (max-width: 800px) {
  body {
    overflow-x: scroll;
  }
  .main-description img {
    height: 200px;
    width: 400px;
  }
  main {
    height: max-content;
    flex-direction: column;
  }
}
