/* TABLE CSS */
table {
  border-radius: 4px;
}

thead > tr {
  background: #c33764;
  background: -webkit-linear-gradient(
    to right,
    #4255fd,
    #fe5a8e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3848d8, #da3d6f);
  border-radius: 10px 10px 0px 0px;
}
th {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  border: solid 1px whitesmoke;
  background-color: rgba(255, 255, 255, 0.995);
  height: 40px;
  display: flex;
}

td {
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

td:nth-child(1) {
  color: blue;
}
